@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf9f6;
  --background-secondary: #faf9f6;
  --background-third: #ffffff;
  --heading: #18645c;
  --heading-secondary: #062c29;
  --text: #07312d;
  --divider-color: #d9d4ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-secondary: #191919;
    --background-third: #191919;
    --heading: #fbfbfb;
    --heading-secondary: #ffffff;
    --text: #e9e9e9;
    --divider-color: #0a0a0a; /* mörkare i dark mode */
  }
}

body {
  color: var(--heading);
  background: var(--background);

  font-family: var(--font-inter), sans-serif;
}

html {
  font-family: var(--font-merriweather), sans-serif;
}

h1 {
  font-size: 4em;
  color: var(--heading);
  font-weight: 600;
}
h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--heading);
}
h3 {
  font-size: 22px;
  margin-top: 1rem;

  font-weight: 600;
  color: var(--heading-secondary);
}
h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--heading-secondary, var(--heading));
}
h5 {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  color: var(--heading-secondary, var(--heading));
}
p {
  color: var(--text, var(--heading));
}
br {
  display: block;
  margin: 2rem 0;
}

ul {
  color: var(--text, var(--heading));
}
li {
  margin-top: 1rem;
}

.mainli {
  font-size: 22px;
  font-weight: 600;
  color: var(--heading-secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

.page_layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background);
}

.main_content {
  flex: 1;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
}

.heading_grid {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 2rem;
  min-height: 90%;
  height: 70vh;
  padding-top: 3rem;
  text-align: left;
  justify-content: center;
  align-items: end;
  padding-bottom: 4rem;
}
.text_grid {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 2rem;
  padding: 0.5rem;
  width: 100%;
  margin-top: 2rem;
  padding-top: 3rem;
  text-align: left;
  max-width: 90rem;
}

.facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .heading_grid {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .text_grid {
    flex-direction: column;
    align-items: flex-start;
  }
  .facts {
    grid-template-columns: repeat(2, 1fr);
  }
  .projectGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .facts {
    grid-template-columns: repeat(1, 1fr);
  }
  .projectGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
