@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #faf9f6;
  --background-secondary: #faf9f6;
  --background-third: #ffffff;
  --heading: #18645c;
  --heading-secondary: #062c29;
  --text:  #07312d;
  --divider-color: #d9d4ce;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-secondary: #191919;
    --background-third:  #191919;
    --heading: #fbfbfb;
    --heading-secondary: #ffffff;
    --text: #E9E9E9;
    --divider-color: #0a0a0a; /* mörkare i dark mode */
  }
  
}

body {
  color: var(--heading);
  background: var(--background);

  font-family: var(--font-inter), sans-serif;
  
}

html {
  font-family: var(--font-merriweather), sans-serif;
}


h1 {
	font-size: 4em; 
  color: var(--heading);
  font-weight: 600;
  
}
h2 {
	font-size: 28px; 
  font-weight: 600;
  color: var(--heading);
}
h3 {
  font-size: 22px;
  margin-top: 1rem;

  font-weight: 600;
  color: var(--heading-secondary);
}
h4{
  font-size: 18px;
  font-weight: 600;
  color: var(--heading-secondary, var(--heading));
  
}
h5{
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  color: var(--heading-secondary, var(--heading));
  
}
p{
  
  color: var(--text, var(--heading));
  
}
br {
   display: block;
   margin: 2rem 0;
}

ul{
   color: var(--text, var(--heading));
}
li{
  margin-top: 1rem
}

.mainli{
  font-size: 22px;
  font-weight: 600;
  color: var(--heading-secondary)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}


.heading_grid {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 2rem;
  min-height: 90%;
  padding: 0.5rem;
  height: 70vh;
  width: 100%;
  margin-bottom: 8vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3rem;
  text-align: left;
  max-width: 1400px;
  

}
.text_grid {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 2rem;
  padding: 0.5rem;
  width: 100%;
  margin-top: 2rem ;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3rem;
  text-align: left;
  max-width: 700rem;
}

@media (max-width: 900px) {
  .heading_grid {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .text_grid{
    flex-direction: column;
    align-items: flex-start;

  }
}

