@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf9f6;
  --background-secondary: #faf9f6;
  --background-third: #fdfdfd;
  --foreground: #18645c;
  --text-color-secondary:  #07312d;
  --divider-color: #d9d4ce;
  

 
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-secondary: #191919;
    --background-third:  #191919;
    --foreground: #ededed;
   
    --text-color-secondary: #E9E9E9;
    --divider-color: #0a0a0a; /* mörkare i dark mode */
  }
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 4em; 
  color: var(--foreground);
  
}
h2 {
	font-size: 28px; 
  font-weight: 400;
  color: var(--foreground);
}
h3 {
  font-size: 20px;
  margin-top: 1rem;

  font-weight: 600;
  color: var(--foreground);
}
h4{
  font-size: 18px;
  font-style: italic;
  color: var(--text-color-secondary, var(--foreground));
  
}
p{
  
  color: var(--text-color-secondary, var(--foreground));
  
}

ul{
   color: var(--text-color-secondary, var(--foreground));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}
